.popup__title {
  margin: 34px 36px 48px;
  padding: 0;

  font-size: 24px;
  line-height: 1.15;
  font-weight: 900;
}

@media screen and (max-width: 1280px) {
  .popup__title {
    font-size: calc(0.00625*100vw + 16px);
  }
}

@media screen and (max-width: 500px) {
  .popup__title {
    margin: 25px 22px 75px;
  }
}