.popup {
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 10;
  left: 0px;
  top: 0px;

  width: 100vw;
  height: 100vh;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
}
