.profile {
  margin: 0;
  padding: 0;
  padding-bottom: 47px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  justify-content: start;

  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .profile {
    padding-bottom: calc(0.011458333*100vw + 32.33333333px);
  }
}

@media screen and (max-width: 800px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 0;
    justify-content: center;
  }
}